# 0-> INFO, 1-> WARN, 2-> ERROR
NADA_SENSIO_LOG_LEVEL: 0

# 0-> none, 1-> console, 2-> file, 3-> console+file
LOGMOD: 3

NADA_SENSIO_MQTT_PORT: :1883
NADA_SENSIO_MQTT_HOST: localhost
NADA_SENSIO_MQTT_TOPIC: TOPIC_GOES_HERE
NADA_SENSIO_MQTT_CLIENT_ID: ID_GOES_HERE
LOGFILE: logsensio.log
NADA_SENSIO_QOS: 1

NADA_SENSIO_MQTT_CLIENT_NAME: NAME_GOES_HERE
NADA_SENSIO_MQTT_PSWRD: PASSWORD_GOES_HERE
NADA_SENSIO_MEASURE_INTERVAL_MS: 500