# API LISTENING PORT
NADA_SERVE_PORT=8080 
# API LOG LEVEL (0 = debug, 1 = info)
NADA_SERVE_LOGLEVEL=0
# Set allowed cors headers (seperated by a comma)
NADA_SERVE_ALLOWEDORIGINS__ARRAY=http://localhost:8080,https://imt-atlantique-fil-2020-2023.github.io
# Dataset used for airport info, csv format, relative path to current working directory
NADA_SERVE_CSVAIRPORTFILE=assets/airport-codes_csv.csv
# Influxdb v2.0 connection url, see https://docs.influxdata.com/influxdb/v2.0/reference/urls/
NADA_SERVE_INFLUXDB_HOST=http://localhost:8086
# Influxdb v2.0 connection token, see https://docs.influxdata.com/influxdb/v2.0/security/tokens/use-tokens/
NADA_SERVE_INFLUXDB_TOKEN=4bcc2578-f701-465d-9f01-312a08bdc278
# Influxdb v2.0 organisation, see https://docs.influxdata.com/influxdb/v2.0/organizations/
NADA_SERVE_INFLUXDB_ORG=org.nada
# Influxdb v2.0 bucket, see https://docs.influxdata.com/influxdb/v2.0/reference/api/influxdb-1x/dbrp/
NADA_SERVE_INFLUXDB_BUCKET=nada-bucket