# 0-> INFO, 1-> WARN, 2-> ERROR
NADA_TRANSFORM_LOG_LEVEL: 0

# 0-> none, 1-> console, 2-> file, 3-> console+file
LOGMOD: 3

LOGFILE: nada-transform.log

NADA_TRANSFORM_MQTT_PORT: 1883
NADA_TRANSFORM_MQTT_HOST: localhost
NADA_TRANSFORM_MQTT_TOPIC: TOPIC_GOES_HERE
NADA_TRANSFORM_MQTT_CLIENT_ID: ID_GOES_HERE
NADA_TRANSFORM_MQTT_CLIENT_NAME: NAME_GOES_HERE
NADA_TRANSFORM_MQTT_PSWRD: PASSWORD_GOES_HERE

NADA_TRANSFORM_INFLUXDB_URL: http://localhost:8086
NADA_TRANSFORM_INFLUXDB_AUTHTKN: 4bcc2578-f701-465d-9f01-312a08bdc278
NADA_TRANSFORM_INFLUXDB_ORG: org.nada
NADA_TRANSFORM_INFLUXDB_BUCKETNAME: nada-bucket



