NADA_SERVE_PORT=8080
NADA_SERVE_LOGLEVEL=0
NADA_SERVE_INFLUXDB_HOST=http://localhost:8086
NADA_SERVE_INFLUXDB_TOKEN=TOKEN_GOES_HERE
NADA_SERVE_INFLUXDB_ORG=org.nada
NADA_SERVE_INFLUXDB_BUCKET=nada-bucket